th{
    color: blanchedalmond;
    background-color: black;
    
}
td{
    color: rgb(196, 196, 196);
}
#bottoni{
    color: rgb(41, 32, 26);
    background-color: rgb(177, 232, 236);
    border: 2px solid rgb(0, 0, 0)
   }