a{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(34, 37, 37);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8%;
}

