<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
    <div class="row gy-4 gx-5">
      <div class="col-lg-4 col-md-6">
        <h6 class="h1 text-white"><b>Informazioni</b></h6>
        <p class="small text-muted">Altri contatti aziendali e informazioni interessanti :</p>
        <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary"
            href="#">marcopatti@live.it</a></p>
            
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3"><b>Social</b></h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#"><i class="bi bi-instagram"></i> Instagram</a></li>
          <li><a href="#"><i class="bi bi-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="bi bi-whatsapp"></i> Whatsapp</a></li>
          <li><a href="#"><i class="bi bi-twitter"></i> Twitter</a></li>
        </ul>
      </div>
      <div class="col-lg-2 col-md-6">
        <h5 class="text-white mb-3"><b>Link veloci</b></h5>
        <ul class="list-unstyled text-muted">
          <li><a href="#"><i class="bi bi-house-door"></i> Home</a></li>
          <li><a href="#"><i class="bi bi-person-lines-fill"></i> Contatti</a></li>
          <li><a href="#"><i class="bi bi-youtube"></i> YouTube</a></li>
          <li><a href="#"><i class="bi bi-chat-text"></i> FAQ</a></li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-6">
        <h5 class="text-white mb-3"><b>Newsletter</b></h5>
        <p class="small text-muted">Iscriviti alla nostra newsletter per rimanere aggiornato sulle nostre novità</p>
        <form action="#">
          <div class="input-group mb-3">
            <input class="form-control" type="text" placeholder="Inserisci email.." aria-label="Inserisci il tuo nome.."
              aria-describedby="button-addon2">
            <button class="btn btn-primary" id="button-addon2" type="button"><i class="bi bi-send-fill"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>