body{
    background-image: url(../src/assets/43458bce045d2246523734e0c9f12b1b.png);
    background-size:cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{
    color: silver;

}

.logo{
     width: 70px; height: auto; 
}
input{
    border: 5px outset rgb(116, 114, 114)
}
select{
    border: 5px outset rgb(116, 114, 114)
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}