body{
    background-image: url(../src/assets/dark-blue-wallpaper-preview.jpg);
    background-size:cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
th{
    color: silver;

}

.logo{
     width: 70px; height: auto; 
}
input{
    border: 6px outset rgb(116, 114, 114)
}
select{
    border: 6px outset rgb(116, 114, 114)
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}