<form>
    <div class="form-group ">
        <label for="name"><b>Data Fattura</b></label>
        <input type="text"[(ngModel)]="fattura.data" name="nagdfgdfme" class="form-control">
    </div>
    <div class="form-group">
        <label for="name"><b>Numero Fattura</b></label>
        <input type="text"[(ngModel)]="fattura.numero" name="nadfgfdme" class="form-control">
    </div>
    <div class="form-group">
        <label for="name"><b>Anno Fattura</b></label>
        <input type="text"[(ngModel)]="fattura.anno" name="nafdgfdgme" class="form-control">
    </div>
    <div class="form-group">
        <label for="name"><b>Importo Fattura</b></label>
        <input type="number"[(ngModel)]="fattura.importo" name="naggfme" class="form-control">
    </div>
    <div class="form-group">
        <label for="name"><b>Stato Fattura</b></label>
        <input type="text"[(ngModel)]="fattura.stato.nome" name="nadsfdme" class="form-control">
    </div>




    <div class="form-group">
        <label for="name"><b>Nome Contatto</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.nomeContatto" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="name"><b>Cognome Contatto</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.cognomeContatto" name="surnamename" class="form-control" id="asdfa">
    </div>
    <div class="form-group">
        <label for="name"><b>Telefono Contatto</b></label>
        <input type="tel"[(ngModel)]="fattura.cliente.telefonoContatto" name="telefono" class="form-control" id="fdgfdg">
    </div>
    <div class="form-group">
        <label for="name"><b>Pec</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.pec" name="pec" class="form-control" id="fdgfd">
    </div>
    <div class="form-group">
        <label for="name"><b>Partita Iva</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.partitaIva" name="iva" class="form-control" id="sdfssf">
    </div>
    <div class="form-group">
        <label for="name"><b>Ragione Sociale</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.ragioneSociale" name="sociale" class="form-control" id="dfsfg">
    </div>
    
    <div class="form-group">
        <label for="name"><b>Numero telefono</b></label>
        <input type="tel"[(ngModel)]="fattura.cliente.telefono" name="tele" class="form-control" id="sfgsas">
    </div>
    <div class="form-group">
        <label for="name"><b>Data Inserimento</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.dataInserimento" name="inseriment" class="form-control" id="sdgssg">
    </div>
    <div class="form-group">
        <label for="name"><b>Data Ultimo Contatto</b></label>
        <input type="text"[(ngModel)]="fattura.cliente.dataUltimoContatto" name="contatto" class="form-control" id="asfdgas">
    </div>
   <!-- <div class="form-group">
        <label for="name"><b>Tipo Cliente</b></label>
       <select [(ngModel)]="clients.tipoCliente" [ngModelOptions]="{standalone: true}">
           <option [ngValue]="item" *ngFor="let item of tipoCliente" >
               {{item}} 
           </option>
       </select>
    </div>
    -->
    <label for="indirizzo1"><b>Indirizzo sede operativa :</b></label> &nbsp;
    <input type="text" [(ngModel)]="fattura.cliente.indirizzoSedeOperativa.via" name="via" placeholder="Inserisci via.." class="form mb-2">&nbsp;
    <input type="number" [(ngModel)]="fattura.cliente.indirizzoSedeOperativa.civico" name="civico" placeholder="Inserisci civico.." class="form mb-2">&nbsp;
    <input type="number" [(ngModel)]="fattura.cliente.indirizzoSedeOperativa.cap" name="cap" placeholder="Inserisci cap.." class="form mb-2">&nbsp;
    <input type="text" [(ngModel)]="fattura.cliente.indirizzoSedeOperativa.localita" name="localita" placeholder="Inserisci località.." class="form mb-2"> &nbsp;   
    <br>
    <label for="indirizzo1"><b>Indirizzo sede legale :</b></label> &nbsp;
    <input type="text" [(ngModel)]="fattura.cliente.indirizzoSedeLegale.via" name="via2" placeholder="Inserisci via.." class="form mb-2">&nbsp;
    <input type="number" [(ngModel)]="fattura.cliente.indirizzoSedeLegale.civico" name="civico3" placeholder="Inserisci civico.." class="form mb-2">&nbsp;
    <input type="number" [(ngModel)]="fattura.cliente.indirizzoSedeLegale.cap" name="cap4" placeholder="Inserisci cap.." class="form mb-2">&nbsp;
    <input type="text" [(ngModel)]="fattura.cliente.indirizzoSedeLegale.localita" name="localita5" placeholder="Inserisci località.." class="form mb-2">&nbsp;
    <button type="button" class="btn bg-warning form-control" (click)="update()">Applica Modifiche &nbsp;<i class="bi bi-pencil-square"></i></button>
</form>

