<div class="card bg-secondary">
    <div class="card-header bg-dark">
     <h4><b>Dettagli fattura :</b></h4>
    </div>
    <div class="card-body">
      <h5 class="card-title bg-info"><b>Numero identificativo :</b> {{fattura.id}}</h5>
      <p class="card-text bg-info"><b>Data :</b> {{fattura.data}}</p>
      <p class="card-text bg-info"><b>Numero fattura :</b> {{fattura.numero}}</p>
      <p class="card-text bg-info"><b>Anno fattura :</b> {{fattura.anno}}</p>
      <p class="card-text bg-info"><b>Importo fattura :</b> {{fattura.importo}}</p>
      <p class="card-text bg-info"><b>Stato :</b> {{fattura.stato.nome}}</p>
      
      <div class="card bg-info class-container">
        <div class="card-header bg-dark">
         Nome cliente : <h3><b>{{fattura.cliente.nomeContatto}}</b></h3>
        </div>
        <div class="card-body">
          <h5 class="card-title bg-primary"><b>Cognome cliente</b> : {{fattura.cliente.cognomeContatto}}</h5>
          <h5 class="card-title bg-primary"><b>Numero cliente</b> : {{fattura.cliente.telefonoContatto}}</h5>
          <p class="card-text bg-primary"><b>Tipo cliente</b> : {{fattura.cliente.tipoCliente}}</p>
          <p class="card-text bg-primary"><b>Partita Iva</b> : {{fattura.cliente.partitaIva}}</p>
          <p class="card-text bg-primary"><b>Email cliente</b> : {{fattura.cliente.email}}</p>
          <p class="card-text bg-primary"><b>Pec</b> : {{fattura.cliente.pec}}</p>
          <p class="card-text bg-primary"><b>Ragione sociale</b> : {{fattura.cliente.ragioneSociale}}</p>
          <p class="card-text bg-primary"><b>dataInserimento</b> : {{fattura.cliente.dataInserimento}}</p>
          <p class="card-text bg-primary"><b>dataUltimoContatto</b> : {{fattura.cliente.dataUltimoContatto}}</p>
    
    
          <label for="indirizzo1"><b>Indirizzo sede operativa :</b></label> &nbsp;
          <p class="card-text bg-primary"><b>Via :</b>  {{fattura.cliente.indirizzoSedeOperativa.via}}</p>
          <p class="card-text bg-primary"><b>Civico :</b>  {{fattura.cliente.indirizzoSedeOperativa.civico}}</p>
          <p class="card-text bg-primary"><b>Cap :</b>  {{fattura.cliente.indirizzoSedeOperativa.cap}}</p>
          <p class="card-text bg-primary"><b>Localita </b>  {{fattura.cliente.indirizzoSedeOperativa.localita}}</p>
          
          <label for="indirizzo1"><b>Indirizzo sede legale :</b></label> &nbsp;
          <p class="card-text bg-primary"><b>Via :</b>  {{fattura.cliente.indirizzoSedeLegale.via}}</p>
          <p class="card-text bg-primary"><b>Civico </b> : {{fattura.cliente.indirizzoSedeLegale.civico}}</p>
          <p class="card-text bg-primary"><b>Cap :</b>  {{fattura.cliente.indirizzoSedeLegale.cap}}</p>
          <p class="card-text bg-primary"><b>Localita :</b>  {{fattura.cliente.indirizzoSedeLegale.localita}}</p>
          
        </div>
      </div>
      <button type="button" class="btn btn-warning"(click)="edit(fattura)"><i class="bi bi-pencil-fill"></i></button>
    </div>
    
    
    
  </div>
